body {
    font-family: "Segoe UI";
    max-width: 950px;
    margin:auto;
    background-color: #0071c5;
}

.topo {
    margin: 20px 230px 30px;
    width: 500px;
}

a.nounderline:link {
    text-decoration:none;
}

h1 {
    font-size: 22px;
    color:darkslateblue;
}

b {color:darkslateblue}

#bodypage {
    background-color: white;
    box-shadow: 5px 5px 40px 15px darkslateblue;
    vertical-align: middle;
}

.botton {
    margin: 0px 300px 0px;
    width: 350px;
}

#model1 {
    width: 930px;
    border-bottom: 1px solid #c1c1c1;
    height: 440px;
    margin: 0px 10px;
    padding: 10px 5px 15px 5px;
    max-height: 150px;
    max-width: 1700px;
    overflow: hidden;
    background-color: white;
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    transition: max-heigth 0.6s;
}

#model2 {
    width: 930px;
    border-bottom: 1px solid #c1c1c1;
    height: 480px;
    margin: 0px 10px;
    padding: 0px 5px 15px 5px;
    max-height: 150px;
    max-width: 1700px;
    overflow: hidden;
    background-color: white;
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    transition: max-heigth 0.6s;
}

#model3 {
    width: 930px;
    border-bottom: 1px solid #c1c1c1;
    height: 440px;
    margin: 0px 10px;
    padding: 0px 5px 15px 5px;
    max-height: 150px;
    max-width: 1700px;
    overflow: hidden;
    background-color: white;
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    transition: max-heigth 0.6s;
}

#model4 {
    width: 930px;
    border-bottom: 1px solid #c1c1c1;
    height: 525px;
    margin: 0px 10px;
    padding: 0px 5px 15px 5px;
    max-height: 150px;
    max-width: 1700px;
    overflow: hidden;
    background-color: white;
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    transition: max-heigth 0.6s;
}

#model5 {
    width: 930px;
    border-bottom: 1px solid #c1c1c1;
    height: 525px;
    margin: 0px 10px;
    padding: 0px 5px 15px 5px;
    max-height: 150px;
    max-width: 1700px;
    overflow: hidden;
    background-color: white;
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    transition: max-heigth 0.6s;
}

#model6 {
    width: 930px;
    border-bottom: 1px solid #c1c1c1;
    height: 460px;
    margin: 0px 10px 50px;
    padding: 0px 5px 20px 5px;
    max-height: 150px;
    max-width: 1700px;
    overflow: hidden;
    background-color: white;
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    transition: max-heigth 0.6s;
}

.image {
    width: 100px;
    margin: 15px;
}

div.inline {
    float: left;
}

#show-more1 {
    display: block;
    background-color: darkslateblue;
    width: 50px;
    font-size: 10px;
    text-transform: lowercase;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 8px 0px 8px 40px;
    cursor: pointer;
    height: 12px;
    padding: 5px 0;
}

#show-more2 {
    display: block;
    background-color: darkslateblue;
    width: 50px;
    font-size: 10px;
    text-transform: lowercase;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 8px 0px 8px 40px;
    cursor: pointer;
    height: 12px;
    padding: 5px 0;
}

#show-more3 {
    display: block;
    background-color: darkslateblue;
    width: 50px;
    font-size: 10px;
    text-transform: lowercase;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 8px 0px 8px 40px;
    cursor: pointer;
    height: 12px;
    padding: 5px 0;
}

#show-more4 {
    display: block;
    background-color: darkslateblue;
    width: 50px;
    font-size: 10px;
    text-transform: lowercase;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 8px 0px 8px 40px;
    cursor: pointer;
    height: 12px;
    padding: 5px 0;
}

#show-more5 {
    display: block;
    background-color: darkslateblue;
    width: 50px;
    font-size: 10px;
    text-transform: lowercase;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 8px 0px 8px 40px;
    cursor: pointer;
    height: 12px;
    padding: 5px 0;
}

#show-more6 {
    display: block;
    background-color: darkslateblue;
    width: 50px;
    font-size: 10px;
    text-transform: lowercase;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 8px 0px 8px 40px;
    cursor: pointer;
    height: 12px;
    padding: 5px 0;
}

#model1.open {
    max-height: 1000px;
    -webkit-transition: max-heigth 2s;
    -moz-transition: max-heigth 2s;
    transition: max-heigth 2s;
}

#model2.open {
    max-height: 1000px;
    -webkit-transition: max-heigth 2s;
    -moz-transition: max-heigth 2s;
    transition: max-heigth 2s;
}

#model3.open {
    max-height: 1000px;
    -webkit-transition: max-heigth 2s;
    -moz-transition: max-heigth 2s;
    transition: max-heigth 2s;
}

#model4.open {
    max-height: 1000px;
    -webkit-transition: max-heigth 2s;
    -moz-transition: max-heigth 2s;
    transition: max-heigth 2s;
}

#model5.open {
    max-height: 1000px;
    -webkit-transition: max-heigth 2s;
    -moz-transition: max-heigth 2s;
    transition: max-heigth 2s;
}

#model6.open {
    max-height: 1000px;
    -webkit-transition: max-heigth 2s;
    -moz-transition: max-heigth 2s;
    transition: max-heigth 2s;
}

div.text {
    margin-left: 125px;
    margin-right: 20px; 
    margin-top: 10px;
    text-align:justify;
}

form {
    margin-right: 200px;
    border-right: 50px;

}

ul {
    list-style-type: none;
    padding: 0;
}

